{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if my_tasks %}
        <table>
            <thead>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </thead>
            <tbody>
                {% for task in my_tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date|date:"M. d, Y, g:i a" }}</td>
                    <td>{{ task.due_date|date:"M. d, Y, g:i a" }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
